extends layout

block content	
	include modals/alert
	include modals/confirm1
	include modals/addResident
	include modals/updateResident
	include leftnavbar
	link(rel='stylesheet', href='/css/manage-override.css')
	// preset form values if we receive a userdata object //
	- user = typeof(udata) != 'undefined' ? udata : { }
	// store the userId on the client side in a hidden input field //
	input(type='hidden', value= user._id)#userId
	include navbar


	.container
		.row
			#title-header.col-md-12
				h3.headtext Store, Edit, or Delete your Block Residents' contact information
				figure.item
					img(src='./images/person1.png' height='64px' width='64px')
					figcaption.caption Coordinator
				figure.item2
					img(src='./images/person2.png' height='64px' width='64px')
					figcaption.caption #{user.firstname}
				h4 Manage your BlockCaptain Network
				br
				button.btn.btn-primary(type='button', onclick="$('.addResident').modal('show')") Add a Resident
				#managetable.table-responsive
					br
					table#mytable.table.table-bordred.table-striped
						thead
							th First Name
							th Last Name
							th Email
							th Address
							th Date Added
							th Edit
							th Delete
						tbody
							br
							input#search.form-control(type='text', name='search', placeholder='Type here to search')
						- for (var i = 0; i < accts.length; i++)
							tr
								td= accts[i].firstname
								td= accts[i].lastname
								td= accts[i].email
								td= accts[i].address
								td= accts[i].date
								td
									button.btn.btn-primary.btn-xs(type='button', id='account1-form-btn1', onclick="hcc.showUpdateResident('#{accts[i].firstname}', '#{accts[i].lastname}', '#{accts[i].email}', '#{accts[i].address}', '#{accts[i]._id}')")
										span.glyphicon.glyphicon-pencil
								td
									button.btn.btn-danger.btn-xs(type='button', id='account1-form-btn1', onclick="hcc.showRemoveResident('#{accts[i]._id}')")
										span.glyphicon.glyphicon-trash


block scripts
	script.
		$(document).ready(function(){
		$("#mytable").tablesorter(); 
		$("[data-toggle=tooltip]").tooltip();
		});
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.10/js/jquery.tablesorter.min.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')
	script.
		var hcc = new HomeController();