extends layout
block content
	include modals/alert
	include modals/confirm2
	include modals/addNews
	include modals/updateNews
	include leftnavbar
	link(rel='stylesheet', href='/css/manage-override.css')
	link(rel='stylesheet', href='/css/jquery-ui-timepicker-addon.css')
	link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')


	// preset form values if we receive a userdata object //
	- user = typeof(udata) != 'undefined' ? udata : { }
	

	.container
		#navbar.navbar.navbar-default(data-spy='affix')
			.container
				.navbar-header
					button.navbar-toggle(type='button')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#', <strong='') BlockCaptain Network
				.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-left
						li
							a(href='/home') Home
						li
							a(href='/manage') Manage
						li
							a(href='/calendar') Calendar
						li
							a(href='/about') About
						li
							a(href='/contact') Contact

					ul.nav.navbar-nav.navbar-right
						li
							a(color='#d1a609') #{user.firstname} - #{user.address}
						li
							#btn-logout.navbar-btn.btn.btn-default Sign Out
		.row
			#title-header.col-md-12
				
				figure.item
					img(src='./images/person1.png' height='64px' width='64px')
					figcaption.caption Coordinator
				figure.item2
					img(src='./images/person2.png' height='64px' width='64px')
					figcaption.caption #{user.firstname}
				h3.headtext Create, Edit or Delete your Events, Block Notices, and other content.
				h4 Manage your BlockCaptain Network
				br
				button.btn.btn-primary(type='button', onclick="$('.addNews').modal('show')") Add New News
				#managetable.table-responsive
					table#mytable.table.table-bordred.table-striped
						thead
							th Events Name
							th Events Type
							th Events Date
							th Events Duration
							th Created By
							th Edit
							th Delete
						tbody
						- for (var i = 0; i < accts.length; i++)
							tr(name="#{accts[i].event_type}")
								td= accts[i].event_name
								td= accts[i].event_type
								td= accts[i].event_date
								td= accts[i].event_duration + ' Hours'
								td= accts[i].creator
								td
									button.btn.btn-primary.btn-xs(type='button', id='account1-form-btn1', onclick="hcc.showUpdateNews('#{accts[i].event_name}', '#{accts[i].event_type}',  '#{accts[i].event_duration}', '#{accts[i].event_date}', '#{accts[i]._id}', '#{accts[i].event_dec}')")
										span.glyphicon.glyphicon-pencil
								td
									button.btn.btn-danger.btn-xs(type='button', id='account1-form-btn1', onclick="hcc.showRemoveNews('#{accts[i]._id}')")
										span.glyphicon.glyphicon-trash


block scripts
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')
	script(src='//code.jquery.com/ui/1.12.1/jquery-ui.js')
	script(src='/js/jquery-ui-timepicker-addon.js')
	script.
		$(document).ready(function(){
		$('#datetimepicker').datetimepicker();
		$('#datetimepickers').datetimepicker();
		$("#mytable #checkall").click(function () {
		if ($("#mytable #checkall").is(':checked')) {
		$("#mytable input[type=checkbox]").each(function () {
		$(this).prop("checked", true);
		});
		} else {
		$("#mytable input[type=checkbox]").each(function () {
		$(this).prop("checked", false);
		});
		}
		});
		$("[data-toggle=tooltip]").tooltip();
		
		});
		var hcc = new HomeController();
		function toggle(source) {
		checkboxes = document.getElementsByName('check');
		for(var i=0, n=checkboxes.length;i<n;i++) {
		checkboxes[i].checked = source.checked;
		}
		};
