extends layout
block content
	include navbar
	include modals/alert
	include modals/confirm2
	include modals/addNews
	include modals/updateNews
	include leftnavbar
	link(rel='stylesheet', href='/css/manage-override.css')
	link(rel='stylesheet', href='/css/jquery-ui-timepicker-addon.css')
	link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css')
	//link(rel='stylesheet', href='/css/tablesorter/style.css')


	// preset form values if we receive a userdata object //
	- user = typeof(udata) != 'undefined' ? udata : { }
	

	.container
		.row
			#title-header.col-md-12
				
				figure.item
					img(src='./images/person1.png' height='64px' width='64px')
					figcaption.caption Coordinator
				figure.item2
					img(src='./images/person2.png' height='64px' width='64px')
					figcaption.caption #{user.firstname}
				h3.headtext Create, Edit or Delete your Events, Block Notices, and other content.
				h4 Manage your BlockCaptain Network
				br
				button.btn.btn-primary(type='button', onclick="$('.addNews').modal('show')") Add New News
				#managetable.table-responsive
					table#mytable.table.table-bordred.table-striped
						thead
							th Events Name
							th Events Type
							th Events Date
							th Events Duration
							th Created By
							th Edit
							th Delete
						tbody
							br
							input#search.form-control(type='text', name='search', placeholder='Type here to search')
						- for (var i = 0; i < accts.length; i++)
							tr(name="#{accts[i].event_type}")
								td= accts[i].event_name
								td= accts[i].event_type
								td= accts[i].event_date
								td= accts[i].event_duration + ' Hours'
								td= accts[i].creator
								td
									button.btn.btn-primary.btn-xs(type='button', id='account1-form-btn1', onclick="hcc.showUpdateNews('#{accts[i].event_name}', '#{accts[i].event_type}',  '#{accts[i].event_duration}', '#{accts[i].event_date}', '#{accts[i]._id}', '#{accts[i].event_dec}')")
										span.glyphicon.glyphicon-pencil
								td
									button.btn.btn-danger.btn-xs(type='button', id='account1-form-btn1', onclick="hcc.showRemoveNews('#{accts[i]._id}')")
										span.glyphicon.glyphicon-trash


block scripts
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.10/js/jquery.tablesorter.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
	script(src='/js/jquery-ui-timepicker-addon.js')
	script.
		$(document).ready(function(){
		$('#datetimepicker').datetimepicker();
		$('#datetimepickers').datetimepicker();
		$("#mytable #checkall").click(function () {
		if ($("#mytable #checkall").is(':checked')) {
		$("#mytable input[type=checkbox]").each(function () {
		$(this).prop("checked", true);
		});
		} else {
		$("#mytable input[type=checkbox]").each(function () {
		$(this).prop("checked", false);
		});
		}
		});
		$("[data-toggle=tooltip]").tooltip();
		$("#mytable").tablesorter(); 
		});
		var hcc = new HomeController();
		function toggle(source) {
		checkboxes = document.getElementsByName('check');
		for(var i=0, n=checkboxes.length;i<n;i++) {
		checkboxes[i].checked = source.checked;
		}
		};
