extends layout
block content
	include modals/alert
	include modals/confirm3
	include leftnavbar
	link(rel='stylesheet', href='/css/steps.css')
	link(rel='stylesheet', href='/css/manage-override.css')
	link(rel='stylesheet', href='/css/jquery-ui-timepicker-addon.css')
	link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

	


	// preset form values if we receive a userdata object //
	- user = typeof(udata) != 'undefined' ? udata : { }
	

	.container
		#myModal.modal.fade(role='dialog')
			.modal-dialog.modal-sm
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal') ×
						h4.modal-title Modal Header
					.modal-body
						p This is a small modal.
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close



		#navbar.navbar.navbar-default(data-spy='affix')
			.container
				.navbar-header
					button.navbar-toggle(type='button')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#', <strong='') BlockCaptain Network
				.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-left
						li
							a(href='/home') Home
						li
							a(href='/manage') Manage
						li
							a(href='/calendar') Calendar
						li
							a(href='/about') About
						li
							a(href='/contact') Contact

					ul.nav.navbar-nav.navbar-right
						li
							a(color='#d1a609') #{user.firstname} - #{user.address}
						li
							#btn-logout.navbar-btn.btn.btn-default Sign Out
		.row
			#title-header.col-md-12
				
				figure.item
					img(src='./images/person1.png' height='64px' width='64px')
					figcaption.caption Coordinator
				figure.item2
					img(src='./images/person2.png' height='64px' width='64px')
					figcaption.caption #{user.firstname}
				h3.headtext Create and Manage Newsletter
				br
				button.btn.btn-primary(type='button' class='createNL') Create a Newsletter
				#managetable.table-responsive
					table#mytable.table.table-bordred.table-striped
						thead
							th Name
								| 
								span.glyphicon.glyphicon-sort
							th Recipients	
								| 
								span.glyphicon.glyphicon-sort
							th News Item
								| 
								span.glyphicon.glyphicon-sort
							th Created
								| 
								span.glyphicon.glyphicon-sort
							th Actions
						tbody
							br
							input#search.form-control(type='text', name='search', placeholder='Type here to search')
						- for (var i = 0; i < letterData.length; i++)
							tr(name="#{letterData[i].event_type}")
								td= letterData[i].newsletter_name
								td= letterData[i].newsletter_receipt
								td= letterData[i].newletter_events_id.length
								td= letterData[i].date
								td
									button.btn.btn-primary.btn-xs(type='button', style="background-color: blue", id='account1-form-btn1', onclick="hcc.sendMail('#{letterData[i]._id}')")
										span.glyphicon.glyphicon-envelope.blue
									button.btn.btn-primary.btn-xs(type='button', style="background-color: green", id='account1-form-btn1', onclick="hcc.printMail('#{letterData[i]._id}')")
										span.glyphicon.glyphicon-print
									button.btn.btn-danger.btn-xs(type='button', id='account1-form-btn1', onclick="hcc.showRemoveNewsletter('#{letterData[i]._id}')")
										span.glyphicon.glyphicon-trash
				#wizard
					h1 Start
					div 
						h4 Hello, #{user.firstname}
						h5 To create a new newsletter, please enter a name then select "Next" below.
						form
							.form-group
								label(for='InputNLName') Newsletter Name
								input#InputNLName.form-control(type='name', placeholder='Enter newsletter name')

					h1 Choose News
					div
						table#mytable1.table.table-bordred.table-striped
							thead
								th Select
								th Events Name
								th Events Type
								th Events Date
								th Events Duration
								th Created By
							tbody
							- for (var i = 0; i < newsData.length; i++)
								tr(name="#{newsData[i].event_type}", id='newsTable')
									td
										input.form-check-input(type='checkbox', name='case[]', value='')
									td(style='display: none')= newsData[i]._id
									td= newsData[i].event_name
									td= newsData[i].event_type
									td= newsData[i].event_date
									td= newsData[i].event_duration + ' Hours'
									td= newsData[i].creator
									td(style='display: none')= newsData[i].event_dec
					h1 Choose Resident
					div
						table#mytable2.table.table-bordred.table-striped
							thead
								th Select
								th First Name
								th Last Name
								th Email
								th Address
								th Date Added
							tbody
							- for (var i = 0; i < acctData.length; i++)
								tr
									td
										input.form-check-input(type='checkbox', name='user_selected[]', value='')
									td(style='display: none')= acctData[i]._id
									td= acctData[i].firstname
									td= acctData[i].lastname
									td= acctData[i].email
									td= acctData[i].address
									td= acctData[i].date
					h1 Confirm and Save
					div




block scripts
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/home.js')
	script(src='/js/views/jquery.steps.min.js')
	script(src='/js/views/multiform.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.10/js/jquery.tablesorter.min.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
	
	
	script.
		var hcc = new HomeController();
		theName = "#{user.firstname}" + " " + "#{user.lastname}";
		theAddress = "#{user.address}";
		$(document).ready(function(){
		$("#mytable").tablesorter(); 
		$("#mytable1").tablesorter(); 
		$("#mytable2").tablesorter(); 
		});
